.detailStyle{
    padding-top: 180px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
.detailStyle .img{
    width: 476px;
    height: 600px;
    
}
.conDetail{
    width: 698.11px;
    height: auto;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    
}
.conDetail h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    
}
.conDetail .authors{
    font-size: 12px;
    line-height: 27px;
}
.conDetail .About{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 31px 0 10px 0;
}
.conDetail .desc{
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: justify;
    
}
.conDetail .circle{
    width: 20.47px;
    height: 20.76px;
    border: 1px solid #937DC2;
    border-radius: 50%;
text-align: center;
    
}

.conDetail .conNum{
padding: 31px 0;
}
.conDetail .num{
padding: 0 8px;
}
.conDetail .conButton{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 37px;
    border-bottom: 1px solid #937DC2;
    flex-wrap: wrap;
    text-align: center;
}
.conDetail .button1{
    width: 333.71px;
    height: 46.71px;
    padding: 12px 70px 12px 70px;
    border: 1px solid #937DC2;
    background-color: #937DC2;
    color: #fff;
    gap: 10px;
    opacity: 0px;
}
.conDetail .button2{
    width: 333.71px;
    height: 46.71px;
    padding: 12px 70px 12px 70px;
    border: 1px solid #937DC2;
    background-color: var(--bg-color);
    color: #937DC2;
    gap: 10px;
    opacity: 0px;
}
.conDetail .purble{
    color: #937DC2;
}
.conDetail .conPageRateReview{
    padding-top: 18px;
}
.conDetail .conPageRateReview p{
    padding-top: 19px;
}


@media (max-width:992px) {
    .detailStyle{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:400px) {
    .detailStyle .img{
        width: 280px;
        height: 430px;
        
    }
    .conDetail .button1 , .conDetail .button2{
        width: 280.71px;
        height: 46.71px;
    }
}